


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    z-index: 1000;
  }
  
  .header.scrolled-up {
    background-color:#018cde;
  }
  
  .header.scrolled-down {
    background-color:white;  
  }
  
  .logo-container a {
    text-decoration: none;
  }
  
  .logo {
    margin-left: 80px;
    width: 60px;
    height: 60px;
  }
  
  .nav-links ul {
    margin-right: 50px;
    list-style-type: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    font-weight: bold;
  }
  
  .nav-links li:last-child a {
    background-color: #fff;
    color: skyblue;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid #007bff;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-links li:last-child a:hover {
    background-color: white;
    color: #007bff;
  }
  